*{
    font-family: 'Arimo';
    width: 100%;
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
html{
    background: linear-gradient(180deg, #1D1F2B 0%, #1A1A1A 100%);
}
a{
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000018;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #166083;
    border-radius:5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }